---
title: "Computer Science: Just the Useful Bits"
pageable: true
per_page: 10
comments: false
layout: jtub_frame
---

<div class="outer">
    <h1>Computer Science: Just the Useful Bits</h1>
    <hr/>

    <p class="top-summary">
        If you're a <b><i>working software developer</i></b>, which bits of computer science are useless? Which are useful? And <b><i>which ones are superpowers</i></b>?
    </p>

    <p class="top-summary">
        Every episode I talk to working developers from all different backgrounds about
        topics in computer science. From different data structures, algorithms, analysis, paradigms and practices, we talk about <i><b>which ones matter in their day-to-day work</b></i>, and what kind of work that is.
    </p>

    <h1>Latest Interviews</h1>
    <hr/>

    <div class="post-feed inner-wide">
      <% page_articles.each_with_index do |article, i|
           #next unless is_published(article)
        %>
        <%= partial "postbox", locals: { post: article } %>
      <% end %>
    </div>
</div>

<%= partial "pagination" %>
